
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  --mainColor:#FF6300 ; 
  --mainColorSubtle:#ff62003f ; 

  --secondColor:#161616 ; 
}
.active{
  background-color: var(--mainColor) !important;
}
.text-main{
  color:var(--mainColor) !important ;
}
.bg-second{
  background-color: var(--secondColor) !important;
}
.bg-main{
  background-color: var(--mainColor) !important;
}
.border-main{
  border:1px solid var(--mainColor) !important;
}
.bg-main-subtle{
  background-color: var(--mainColorSubtle) !important;
}
.logo{
  width: 40px;
  height: 40px;
}
.dimensions{
  width:96px;
  height:96px;
}
.search{
  border:solid 1px transparent !important ;
  transition: all 0.5s;
}
.search:hover{
    border-color: gray !important;
    color: #FF6300 !important;
}
p,h1,h2,h3,h4,h5,h6{
  padding: 0 !important;
  margin: 0 !important;
}
.type{
  top: 5px !important;
  right: 5px !important;
}
.profile-img{
  width: 48px;
  height: 48px;
}
.card{
  transition: all 0.5s !important;
}
.card:hover{
.main-img{
  transform: scale(1.1);
}
h3{
  
  color: var(--mainColor) !important;
}
.read{
  transform: translateX(10%) !important ;
}

}
.arrow{
  top: 20%;
  left: 20%;
  opacity: 0;  
}
.arrow2{
  width: 32px;
  height: 32px; 
}
.dot{
  width: 5px !important ;
  height: 5px !important ;
}
.margin20{
    margin: 0 20%;
    padding: 80px 32px;
}
@media  (max-width :768px ){
    .margin20{
        margin: 0 5%;
       padding: 80px 16px;
    }
    .font24{
      font-size: 24px !important;
      font-weight: 600 !important;
      line-height: 20 px !important;
    }
    .min-width400{
     max-width: auto !important;
}
}
@media  (max-width :992px ){
    .margin20{
        margin: 0 10%;
       padding: 80px 16px;
    }
}
.place-holder::placeholder{
  color: #616161 !important;
}
.input-focus{
  border: solid 1px #242424 !important;
}
.input-focus:focus{
  outline: var(--mainColor) solid 1px !important;

}
.blog-details-img-parent{
  min-height: 500px ;
  height: 60vh;
  margin-top: 89px !important;
}
.blog-details-img{
 width: 100%;
 height: 100%;
}
.top-right-2020{
top: 20px;
right: 20px;
}
.top-right-4020{
top: 40px;
right: 20px;
}
.overlay{
  background-image: linear-gradient(to top , black , rgba(0, 0, 0, 0.223));
}
.radialGradient{
  background-image: radial-gradient( #ff620059  , rgba(0, 0, 0, 0.245) , rgba(0, 0, 0, 0.245)) ;
} 
.min-width400{
  max-width: 400px !important;
}
.dimensions24{
  width: 24px !important;
  height: 24px !important;
}
.dimensions112{
  width: 112px !important;
  height: 112px !important;
}
.dimensions132{
  width: 132px !important;
  height: 132px !important;
}
/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
